.mainDiv {
    /* width: 271px; */
    /* border: 1px solid green; */
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
    font-family: Arial, sans-serif;
    background-color: rgb(249, 249, 249);
    margin: 10px auto;
}

.firstLineImg {

    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}



